#annotation-count {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #D593FF;
    color: white;
    z-index: 9999;
    border-radius: 0 0 0 10px;
    cursor: pointer;
    user-select: none;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
.annotation_h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.powered-by {
    font-size: 10px;
    color: white;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.powered-by a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: white 1px solid;
}

#copy-url-button {
    padding: 10px;
    background-color: white;
    color: #D593FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
#annotation-list {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#annotation-list li {
    border-bottom: 1px solid white;
}